__pycache__
.idea
.coverage
env*
tmp/
dist/
build/
docs/_build/
/pytrackdat/ptd_site/core/migrations/*.py
/pytrackdat/ptd_site/databases/*.sqlite3
/pytrackdat/ptd_site/databases/snapshots/snapshot-*
/*.csv
*.xls*
*.zip
*.egg-info/
