recursive-include pytrackdat/app_includes *.py *.html
recursive-include pytrackdat/os_scripts *.bash *.bat
recursive-include pytrackdat/util_files *.yml *.template *.R *.conf *.txt
include pytrackdat/common-passwords.txt.gz
