Django>=2.2.12,<3.0
djangorestframework>=3.11.0,<3.12
django-filter>=2.2.0,<2.3
django-reversion>=3.0.7,<3.1
setuptools
wheel
django-advanced-filters>=1.1.1,<1.2
git+https://github.com/pytrackdat/pytrackdat_snapshot_manager.git
